.card-body img {
    height: 70%;
    width: 100%;
  }
  
  .card-body {
    height: 350px;
    width: 350px;
    border: 1px solid black;
    margin: 0.5rem;
  }
  
  .info {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
  }
  
  .profileInfo {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
  }
  